.container {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100vw;
    background: var(--bg-lighter);
    backdrop-filter: blur(5px);
    top: 0;
    left: 0;
    z-index: 10;
    transition: .2s all;
    opacity: 0;
    pointer-events: none;

}

.container.show {
    opacity: 1;
    pointer-events: all;
}

.inner {
    background: var(--bg);
    min-width: 200px;
    min-height: 100px;
    box-shadow: var(--shadow-light);
    border-radius: .3rem;
    transition: .2s all;
    /* transition-delay: .3s; */
    transform: scale(.5);
    max-width: 700px;
}

.inner.show {
    transform: scale(1);
}

@media screen and (max-width:640px) {
    .inner {
        max-width: 97% !important;
    }
}